[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lambda-decorators = "*"
python-twitter = "*"
pytz = "*"
astral = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
